html, body{
    font-family: roboto;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding:0;

}

a{ 
    text-decoration: none; color: inherit
}

.container{@include(learfix;)

}

.site-content{
    padding-top: 70px;
}

 .header{
     position: fixed;
     left: 0;
     right: 0;
     height: 60px;
     line-height: 66px;
     color: rgb(207, 171, 171);
 }
 /*.headerlogo{
     border:2px solid red;
     font-weight: bold;
     padding: 0 25px;
     float: right;
 }
*/
 
 
 .item{
     padding:40px;
     margin: 0px;
     border:1px solid red;
     

 }

 .a{
     padding: 0 60px;

 }

 a:hover{
     color: orange;
 }